body
{
    display:flex;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    justify-content: center;
    align-items: center;

    background-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#background-pattern{
    animation-name:move;
    animation-duration: 4000ms;
    animation-timing-function: linear;
    animation-iteration-count:infinite;

    height: 200vh;
    width: 200vw;

    background-image: radial-gradient(
        rgba(0,255,255,0.1) 9%,
        transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;

    position: absolute;
    z-index: 1;
}

.login-card {
    /*sizes*/
    min-width: 25vw;
    min-height: 40vh;
    
    /*flex-box*/
    display:flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    /*Make it look nice*/
    background-color: rgba(10, 193, 193, 0.4);
    border-radius: 5%;
    box-shadow: 10px 5px 5px rgb(13, 145, 101);
    
    
    z-index: 2;
    
}

input[type="text"],[type="password"]{

    padding: 10px;
    margin: 5px;
    font-size: 18px;

}

.username-input, .password-input{
    margin: 10px;
}

label {
    flex-basis: 130px;
}

.username-input, .password-input, .login-button
{
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes move {
    0% {
        top: -50px;
        left: -50px;
      }
      25%{
        top: 30px;
        left: 30px;
      }
    50% {
        top: -50px;
        left: 30px;
      }
      75%{
        top: -20px;
        left: -50px;
      }
      100%{
        top: -50px;
        left: -50px;
      }
}