body
{
    display:flex;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    background: linear-gradient(#9198e5,#e66465);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#background-pattern{
    animation-name:move;
    animation-duration: 4000ms;
    animation-timing-function:ease;
    animation-iteration-count:infinite;

    height: 200vh;
    width: 200vw;

    background-image: radial-gradient(
        rgba(0, 255, 200, 0.5) 10%,
        transparent 20%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;

    position: absolute;
    z-index: 1;
}

.login-card {
    /*sizes*/
    min-width: 25vw;
    min-height: 40vh;
    
    /*flex-box*/
    display:flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    /*Make it look nice*/
    /* background-color: rgba(10, 193, 193, 0.4); */
    background: linear-gradient(#e66465, #9198e5);
    border-radius: 5%;
    box-shadow: 6px 6px 5px #cd91e5;
    
    
    z-index: 2;
    
}

input[type="text"],[type="password"]{

    padding: 10px;
    margin: 5px;
    font-size: 18px;

}

.username-input, .password-input{
    margin: 10px;
}
.username-input:hover, .password-input:hover{
    box-shadow: 0px 0px 10px aqua;
}

label {
    flex-basis: 130px;
    padding: 10px;
    font-size: larger;
}

.username-input, .password-input, .login-button
{
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes move {
    0% {
        top: -70px;
        left: -70px;
      }
      25%{
        top: 10px;
        left: 10px;
      }
    50% {
        top: -70px;
        left: 10px;
      }
      75%{
        top: 10px;
        left: -70px;
      }
      100%{
        top: -70px;
        left: -70px;
      }
}